<% include partials/template/head.ejs %>
    <!--nav-->
    <% include partials/template/nav.ejs %>
        <!--end nav-->

        <!--main-->
        <img id="loader" src="images/loader.gif" alt="Loading..." style="display:block;" />
        <main class="wrap blur">
            <section id="dec31">
                <% if (dec31.length) { %>
                    <% dec31.forEach(function(video){ %>
                        <video class="grid__col grid__col--1-of-3" width="300 !important" loop>
                            <source src="videos/mp4/31/<%= video %>" type="video/mp4">
                        </video>
                        <% }) %>
                            <% } %>
            </section>
        </main>
        <!--    end main-->
        <% include partials/template/foot.ejs %>