    <nav>
        <ul>
            <a href="/" alt="x">
                <li>29th</li>
            </a>
            <a href="/30" alt="x">
                <li>30th</li>
            </a>
            <a href="/31" alt="x">
                <li>31st</li>
            </a>
            <a href="/1" alt="x">
                <li>1st</li>
            </a>
            <a href="/2" alt="x">
                <li>2st</li>
            </a>
        </ul>
    </nav>